openapi: 3.0.3
info:
  title: 'IT-community uchun api documentatsiya'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'http://community.loc'
paths:
  /api/auth/login:
    post:
      summary: 'Login (Avtorizatsiya)'
      operationId: loginAvtorizatsiya
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    token_type: Bearer
                    expires_in: 31622400
                    access_token: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIyIiwianRpIjoiMWU1N2IzNTA1OWQwM2Q3ZGEzMmY5NGZlNTA3YzEwOWVmNjM2YmU5NDIxYWZjNjNmMmZjYWUxMjZhMzlhYTMwMmRlMDNlOTQyZDU1ZjhjMjQiLCJpYXQiOjE2ODM5ODUyNDguOTQ2NzMzLCJuYmYiOjE2ODM5ODUyNDguOTQ2NzM1LCJleHAiOjE3MTU2MDc2NDguOTMzMzc1LCJzdWIiOiIzIiwic2NvcGVzIjpbIioiXX0.pzAEedBicJdJNhaeQHbYYSYcOs7HbiXkZkYGEntIKufWe8nN03fqcn1DohsuStmhfDHWXdh63ajsTws_dSYQ_1-_0H3sfKB14LLrK83Qlk7wGh74gmKv-1O0Dl8iNfoNTh5R8eNMK_0589Z0Obh7tOdLgpitD03cxy1PZKhkCE9pii79hRY4zixteLj3Bn3e-d36qXtOUVpNkYnN3AP9ejZ_UAvq5nt1QFf7gsMbBhiI4xhk5wXr9JcpQvuR3-E6R2nyBgcwpJ-DD_qJzKMoBKxBuibYeDak_p0FAn7-A5uWbg9W3phB4waSsIoTgbneAwOwztK0-KECLnit1F3vK5hF4FRpzpg9TieRZnLezJiSK0dkE0IedtwPHsHjYQjUkjhPEGQ5M292mHSF7j7iZbKFLp9LlRCrxZdRMNaSOPWYGo48MMRAVxmAYLyNGEOZOLaM_auWsO76Lr5oSioB8_jq3z6CqCxzjNIHPK_xxEhR2SSj93dwijqvhUmrMSBbGPYQSyoiIBDYBFab1u9fcr58GwIWwbbK1J4VaTquHhvQWXmwqNFYZQnoMrFKmHRmIDwqWT9wr1a3IpHYqw2YpoK5LovJAcTtyqix6B62Umk_7h_8WKCPHO3marAfYgmLSxAgyTF8jPWERquDGQqK-ca7ViARKYehqHajE0IWJ-Q
                    refresh_token: def50200a82b1c3e97d35ad2ca4acc73d3783e4b1707bc36dc90f3403d900497aefe494cc9251baa7df63a50457e5ba53bcf476909089975eac1368b08652fd678d9848d4fad60b3184972402864eeb91712bbd0aa5c39cb02220739c90fe1b21cbe3162ad4ab021ad3363691bdd20134125782a692cfc5ef2c5ee60072e275320f79abbd7c81773ab6fb92fc981e5c08064e2d8e9e695fa01caa974726d6857daa94b0f83ee7b6e0fdf385816fc4578d3e79b784d999b242e4e2c73335e9de60097f68f924e328b7143fed92bfc91e8432c1b28e300110d32e99e31c446373760c570e6d08425ad22bdde7217237c4ac5010ad25573e40558be6607372e9897dc6ac57c0b08c236600b306e073bb8c8e6a4cb71a7e1212f3ba6dcc4f4de01f4ea9bd97daa1caceaa49dd21a930814c2551950a6d313eb2c1caa761a6e64435daaa38c3208082f0a456cbf477d9c303d30f909363ad24228704bbcdf21ee27fa54d69f3b
                properties:
                  data:
                    type: object
                    properties:
                      token_type:
                        type: string
                        example: Bearer
                      expires_in:
                        type: integer
                        example: 31622400
                      access_token:
                        type: string
                        example: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIyIiwianRpIjoiMWU1N2IzNTA1OWQwM2Q3ZGEzMmY5NGZlNTA3YzEwOWVmNjM2YmU5NDIxYWZjNjNmMmZjYWUxMjZhMzlhYTMwMmRlMDNlOTQyZDU1ZjhjMjQiLCJpYXQiOjE2ODM5ODUyNDguOTQ2NzMzLCJuYmYiOjE2ODM5ODUyNDguOTQ2NzM1LCJleHAiOjE3MTU2MDc2NDguOTMzMzc1LCJzdWIiOiIzIiwic2NvcGVzIjpbIioiXX0.pzAEedBicJdJNhaeQHbYYSYcOs7HbiXkZkYGEntIKufWe8nN03fqcn1DohsuStmhfDHWXdh63ajsTws_dSYQ_1-_0H3sfKB14LLrK83Qlk7wGh74gmKv-1O0Dl8iNfoNTh5R8eNMK_0589Z0Obh7tOdLgpitD03cxy1PZKhkCE9pii79hRY4zixteLj3Bn3e-d36qXtOUVpNkYnN3AP9ejZ_UAvq5nt1QFf7gsMbBhiI4xhk5wXr9JcpQvuR3-E6R2nyBgcwpJ-DD_qJzKMoBKxBuibYeDak_p0FAn7-A5uWbg9W3phB4waSsIoTgbneAwOwztK0-KECLnit1F3vK5hF4FRpzpg9TieRZnLezJiSK0dkE0IedtwPHsHjYQjUkjhPEGQ5M292mHSF7j7iZbKFLp9LlRCrxZdRMNaSOPWYGo48MMRAVxmAYLyNGEOZOLaM_auWsO76Lr5oSioB8_jq3z6CqCxzjNIHPK_xxEhR2SSj93dwijqvhUmrMSBbGPYQSyoiIBDYBFab1u9fcr58GwIWwbbK1J4VaTquHhvQWXmwqNFYZQnoMrFKmHRmIDwqWT9wr1a3IpHYqw2YpoK5LovJAcTtyqix6B62Umk_7h_8WKCPHO3marAfYgmLSxAgyTF8jPWERquDGQqK-ca7ViARKYehqHajE0IWJ-Q
                      refresh_token:
                        type: string
                        example: def50200a82b1c3e97d35ad2ca4acc73d3783e4b1707bc36dc90f3403d900497aefe494cc9251baa7df63a50457e5ba53bcf476909089975eac1368b08652fd678d9848d4fad60b3184972402864eeb91712bbd0aa5c39cb02220739c90fe1b21cbe3162ad4ab021ad3363691bdd20134125782a692cfc5ef2c5ee60072e275320f79abbd7c81773ab6fb92fc981e5c08064e2d8e9e695fa01caa974726d6857daa94b0f83ee7b6e0fdf385816fc4578d3e79b784d999b242e4e2c73335e9de60097f68f924e328b7143fed92bfc91e8432c1b28e300110d32e99e31c446373760c570e6d08425ad22bdde7217237c4ac5010ad25573e40558be6607372e9897dc6ac57c0b08c236600b306e073bb8c8e6a4cb71a7e1212f3ba6dcc4f4de01f4ea9bd97daa1caceaa49dd21a930814c2551950a6d313eb2c1caa761a6e64435daaa38c3208082f0a456cbf477d9c303d30f909363ad24228704bbcdf21ee27fa54d69f3b
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: 'login or password incorrect'
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: 'login or password incorrect'
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: 'login or password incorrect'
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthorized
                properties:
                  message:
                    type: string
                    example: Unauthorized
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  type: string
                  description: 'Must match the regex /^(998)([0-9]{9})$/.'
                  example: '998017878305'
                password:
                  type: string
                  description: ''
                  example: "|xyB]()Q''$l3a,!4p"
              required:
                - phone
                - password
      security: []
  /api/auth/register:
    post:
      summary: Register
      operationId: register
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    success: true
                properties:
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                        example: true
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthorized
                properties:
                  message:
                    type: string
                    example: Unauthorized
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  type: string
                  description: 'Must match the regex /^(998)([0-9]{9})$/.'
                  example: '998947672376'
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: gkulas@example.org
                name:
                  type: string
                  description: 'Must be at least 2 characters.'
                  example: oslaqc
                password:
                  type: string
                  description: 'Must be at least 6 characters.'
                  example: '3\hgPSZ{qRk~P'
                password_confirmation:
                  type: string
                  description: 'This field is required when <code>password</code> is present.  The value and <code>password</code> must match. Must be at least 6 characters.'
                  example: dlfiuzwrutkvesznbhz
              required:
                - phone
                - name
                - password
      security: []
  /api/auth/logout:
    get:
      summary: Logout
      operationId: logout
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    success: true
                properties:
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                        example: true
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthorized
                properties:
                  message:
                    type: string
                    example: Unauthorized
      tags:
        - Auth
      security: []
  /api/category:
    get:
      summary: 'Category-list (userni postlarini olish)'
      operationId: categoryListuserniPostlariniOlish
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Category
      security: []
  /api/posts:
    get:
      summary: 'Post-list (userni postlarini olish)'
      operationId: postListuserniPostlariniOlish
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 3
                      title: 'yangi post'
                      description: 'post matni'
                      file_url: /storage/post/ypV4f/Z0cEwA8AqsRij5tw46pyeBLhayNRwohiGlkRG94s.png
                      user_id: 5
                      category_id: 1
                      is_active: '1'
                      created_at: '2023-05-13T14:25:14.000000Z'
                      updated_at: '2023-05-13T14:25:14.000000Z'
                  pagination:
                    current_page: 1
                    per_page: 10
                    total: 1
                    last_page: 1
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 3
                        title: 'yangi post'
                        description: 'post matni'
                        file_url: /storage/post/ypV4f/Z0cEwA8AqsRij5tw46pyeBLhayNRwohiGlkRG94s.png
                        user_id: 5
                        category_id: 1
                        is_active: '1'
                        created_at: '2023-05-13T14:25:14.000000Z'
                        updated_at: '2023-05-13T14:25:14.000000Z'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 3
                        title:
                          type: string
                          example: 'yangi post'
                        description:
                          type: string
                          example: 'post matni'
                        file_url:
                          type: string
                          example: /storage/post/ypV4f/Z0cEwA8AqsRij5tw46pyeBLhayNRwohiGlkRG94s.png
                        user_id:
                          type: integer
                          example: 5
                        category_id:
                          type: integer
                          example: 1
                        is_active:
                          type: string
                          example: '1'
                        created_at:
                          type: string
                          example: '2023-05-13T14:25:14.000000Z'
                        updated_at:
                          type: string
                          example: '2023-05-13T14:25:14.000000Z'
                  pagination:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      per_page:
                        type: integer
                        example: 10
                      total:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthorized
                properties:
                  message:
                    type: string
                    example: Unauthorized
      tags:
        - Post
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                per_page:
                  type: integer
                  description: 'page dagi postlar soni(default-10).'
                  example: 12
      security: []
  '/api/posts/{id}':
    get:
      summary: 'Post-view (postni id orqali olish)'
      operationId: postViewpostniIdOrqaliOlish
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 3
                    title: 'yangi post'
                    description: 'post matni'
                    file_url: /storage/post/ypV4f/Z0cEwA8AqsRij5tw46pyeBLhayNRwohiGlkRG94s.png
                    user_id: 5
                    category_id: 1
                    is_active: '1'
                    created_at: '2023-05-13T14:25:14.000000Z'
                    updated_at: '2023-05-13T14:25:14.000000Z'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 3
                      title:
                        type: string
                        example: 'yangi post'
                      description:
                        type: string
                        example: 'post matni'
                      file_url:
                        type: string
                        example: /storage/post/ypV4f/Z0cEwA8AqsRij5tw46pyeBLhayNRwohiGlkRG94s.png
                      user_id:
                        type: integer
                        example: 5
                      category_id:
                        type: integer
                        example: 1
                      is_active:
                        type: string
                        example: '1'
                      created_at:
                        type: string
                        example: '2023-05-13T14:25:14.000000Z'
                      updated_at:
                        type: string
                        example: '2023-05-13T14:25:14.000000Z'
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: 'post topilmadi'
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: 'post topilmadi'
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: 'post topilmadi'
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthorized
                properties:
                  message:
                    type: string
                    example: Unauthorized
      tags:
        - Post
      security: []
    delete:
      summary: "Post-delete (postni id orqali o'chirish)"
      operationId: postDeletepostniIdOrqaliOchirish
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    success: true
                properties:
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                        example: true
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      message: 'post topilmadi'
                properties:
                  errors:
                    type: array
                    example:
                      -
                        message: 'post topilmadi'
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: 'post topilmadi'
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthorized
                properties:
                  message:
                    type: string
                    example: Unauthorized
      tags:
        - Post
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the post.'
        example: 3
        required: true
        schema:
          type: integer
tags:
  -
    name: Auth
    description: ''
  -
    name: Category
    description: ''
  -
    name: Post
    description: ''
